{{ define "feature" }}

    <div
      class="headline__layer resize"
      style="background-image: url('{{$.Site.Params.cloudinary}}{{ .Params.feature_layer.image }}')"
    >
      <div class="headline__container">

        <hgroup class="headline__hgroup">
          <h2 class="headline__heading">
            {{ .Params.feature_layer.heading }}
          </h2>
        </hgroup>

      </div>
    </div>

{{ end }}

{{ define "main" }}
  <main>
    {{/* <h1 class="theme__heading">{{.Section}}</h1> */}}
    <div class="">
      {{.Content}}
    </div>
  </main>

  <section class="themeGallery__layer">
    <div class="themeGallery__container">
    {{ range .Pages.ByDate.Reverse }}
      <article class="themeGallery__card">
        <a href="{{.RelPermalink}}">
          {{/* <figure class='gallery__item resize'>
            <img src="{{ .RelPermalink }}{{ .Params.feature_layer.image }}" />
          </figure> */}}
          {{ with .Resources.ByType "image" }}
      		{{ range first 1 . }}
      			<figure class='music__image resize'>
      				<img src="{{ .RelPermalink }}" loading="lazy" />
      			</figure>
      		{{ end }}
      		{{ end }}
        </a>
        <div class="themeGallery__meta">
          <h2 class="themeGallery__heading">{{ humanize (substr .RelPermalink 8 -1) }}</h2>
        </div>
      </article>
    {{ end }}
  </div>
  </section>

  {{/* partial "pagination.html" . */}}

{{ end }}
