{{ define "feature" }}

    {{ with .Resources.ByType "image" }}
    {{ range first 1 . }}
      <div
        class="headline__layer resize"
        style="background-image: url('{{ .RelPermalink }}')"
      >
        <div class="headline__container">

          <hgroup class="headline__hgroup">
            <h2 class="headline__heading">
              {{ humanize (substr $.RelPermalink 8 -1)  }}
            </h2>
          </hgroup>

        </div>
      </div>
    {{ end }}
    {{ end }}

{{ end }}

{{ define "main" }}
	<main>

		{{ with .Resources.ByType "image" }}
		{{ range . }}
			<figure class='music__image resize'>
				<img src="{{ .RelPermalink }}" loading="lazy" />
			</figure>
		{{ end }}
		{{ end }}
	</main>

	<main>
		<div>
			{{ .Content }}
		</div>

	</main>
{{ end }}
