<div class="work__layer">
  <div class="work__container">

    <div class="work__content">
      <h3 class="work__sidehead">Stale</h3>

      <div class="work__text">
        <p>Metric Lab was starting to have identity problems. One half of the problem was that clients weren't clear about what they did. The other half of the problem was that they didn't look as cutting-edge as they said they were.</p>


        <p>As you can see below, their old site was quite stale. Their website and identity were stuck back in the days when we used to call the internet "cyber space." The value that they offered was not being refelcted in their old website. And they wanted to be more clear with their message.</p>

        <p>You know the deal—time for a redesign.</p>

        <p class="resize"><img src="active-com.jpg" alt="old website"></p>

      </div>

    </div>

  </div>
</div>
