.feature
  &__layer
    background-color: white
    background-repeat: no-repeat
    background-position: center
    background-size: cover

    display: grid
    grid-template-columns: 1fr
    grid-template-rows: 80vh

    align-items: center
    justify-items: center
    position: relative
    overflow: hidden

    // font-family: klavika-web-disp-cond
    padding: 0 3rem

  &__container
    width: 80vw

  &__hgroup
    //


  &__heading
    color: $charcoal
    font-size: 6rem
    font-weight: bold
    line-height: 1
    text-align: center
    // text-shadow: 3px 3px 3px #000
    text-transform: uppercase
    margin-bottom: 1.5rem

  &__subhead
    // color: white
    color: $charcoal
    font-size: 2rem
    font-style: italic
    font-weight: normal
    text-align: center
    // text-shadow: 1px 1px 1px #000
    // text-shadow: 3px 3px 0 #333
    // text-transform: uppercase

.triangle
  display: grid
  align-items: center
  justify-content: center
  margin-top: 3rem
