// $breakpoints: (small: 400px, medium: 500px, large: 1024px)

.container
  padding-top: 3rem
  position: relative

  +media('<850px')
    padding-top: 6rem


header
  background-color: $gold
  display: grid
  grid-template-areas: "brandmark tagline nav"
  grid-template-rows: 3rem
  grid-template-columns: max-content auto  max-content

  align-items: center
  // justify-items: center
  justify-content: space-between

  position: relative
  padding: 0 0 0 1.5rem

  position: fixed
  top: 0
  left: 0
  width: 100vw
  z-index: 1

  // &::after
  //   background-color: blue
  //   content: ""
  //   display: block
  //   height: 1px
  //   width: 100%

  // align-items: center
  // justify-content: space-between

  +media('<850px')
    grid-template-areas: "brandmark tagline" "nav nav"

    grid-template-columns: 1fr auto
    grid-template-rows: 3rem 3rem
    padding: 0
    text-align: center
    justify-content: center

  // +media('<md')
  //   grid-template-rows: 60px 30px

  // +media('<690px')
  //   grid-template-rows: 1fr max-content

// .identity
//   background-color: $gold
//   display: grid
//   grid-area: identity
//   grid-template-columns: max-content max-content max-content
//   align-items: center
//   justify-items: center

//   justify-content: space-between
//   // padding: 0 1rem

//   +media('<lg')
//     // background-color: #e6e6e6

//   +media('<690px')
//     grid-gap: 0

//   +media('<500px')
//     grid-template-columns: max-content max-content
//     // grid-template-columns: 1fr
//     // grid-template-rows: 60px 60px

  // p
  //   display: inline-block
  //   // font-size: 2rem
  //   margin-bottom: 0
  //   // text-transform: uppercase


.brandmark
  background-color: $gold
  color: $charcoal

  display: grid
  grid-area: brandmark

  font-family: $detail
  letter-spacing: 5px
  font-size: 1.5rem
  // font-style: italic
  font-weight: bold
  // grid-gap: 1rem
  grid-template-columns: max-content max-content
  align-items: center
  justify-items: center
  text-transform: uppercase


  text-decoration: none

  &:hover
    background-color: $gold
    color: white

  // padding: 0 1.5rem

  // display: inline-block
  // display: grid
  // align-items: center
  // justify-items: center
  // grid-template-rows: 60px
  // grid-template-columns: max-content
  // padding: .5rem 1rem

  +media('<850px')
    // font-size: 1.5rem
    // padding: 0 .75rem
    // width: 100%
    padding-left: 1.5rem

  +media('<500px')
    margin: 0 auto
    padding: 0

  svg
    margin-right: .75rem
    width: 1.5rem
    path
      // fill: white

  &:hover

    path
      // fill: $red


p.tagline
  grid-area: tagline

  color: $charcoal
  font-family: $detail
  //font-style: italic
  // font-size: 1.5rem
  font-weight: 100

  margin:  0

  +media('<850px')
    padding-right: 1.5rem

  +media('<500px')
    display: none

nav
  // padding: 0 1rem
  display: grid
  grid-area: nav

  grid-template-columns: repeat(3, max-content)

  +media('<lg')
    text-align: center
    grid-template-columns: repeat(3, 1fr)

  a
    color: $charcoal
    font-weight: bold
    // padding: 0 .5rem
    text-decoration: none

    padding: .75rem 1.5rem

    &:hover
      background-color: $charcoal
      color: white

      svg
        fill: white

    +media('<850px')
      background-color: $butter
// .ml
//   font-style: normal
//   font-weight: bold
//
// .social
//   display: inline-block
//
//
// .social-svg svg
//   fill: $link
//   transform: translateY(5px)
//

// Page nav
.work-seciton,
.contact-page
   .active
    color: $charcoal

// Current ssection
.work-section a[href="/work/"]
  background-color: $charcoal
  color: white

// Current Page styling

.current-page
  background-color: $charcoal
  color: white

  &:hover
    color: white

  +media('<md')
    color: $butter
    text-decoration: underline
