.contact
  &__layer
   background-color: $gold

  &__container
    display: grid
    align-items: center
    justify-content: center
    grid-template-columns: max-content max-content
    grid-gap: .5rem

    +media('<550px')
      grid-template-columns: max-content
      grid-template-rows: 1fr 1fr

  &__text
    margin: 0
    text-align: center

    // a
    //   color: $charcoal

    //   &:hover
    //     background-color: $charcoal
    //     color: $gold
    //     text-decoration: none
    //     box-shadow:
    //     box-shadow: 5px 0 0 0 $charcoal, -5px 0 0 0 $charcoal

.footer

  &__layer
    background-color: $charcoal
    color: white
    padding: 3rem 0
    text-align: center

    display: grid
    grid-template-columns: 1fr
    grid-template-rows: 1fr
    align-items: center
    justify-items: center

    height: 100vh

    p
      color: white
      font-size: 1rem
      margin-bottom: 0
      // padding-bottom: 3rem

      a
        color: $gold
        text-decoration: none

        &:hover
          background-color: transparent
          color: $gold
          text-decoration: underline

  &__container
    max-width: 1200px
    display: grid
    grid-gap: 3rem
    align-content: center
    justify-items: center
    // padding: 10rem 0

  &__heading
    color: white
    // line-height: 1.5/
    padding-bottom: 0

    +media('<1024px')
      font-size: 4rem

    +media('<750px')
      font-size: 3rem

    +media('<400px')
      font-size: 2.5rem

  &__logobox
    max-width: 100px

    // +media('<400px')
    //   max-width: 50px

    .svg-logo
      display: grid
      align-items: center
      justify-content: center
      margin-top: 1.5rem
      width: 100%

      // +media('<sm')
        // margin-top: 1.5rem

    svg
      height: 100%
      width: 100px
      // fill: white

// .svg-logo
//   display: grid
//   align-items: center
//   justify-content: center
//   // margin-top: 1.5rem
//   width: 100%

//   // +media('<sm')
//   //   margin-top: 1.5rem

//   svg
//     width: 100px

//     +media('height<600px')
//       width: 50px

//     +media('<750px')
//       width: 50px
