footer
  background-color: $charcoal
  color: white
  padding: 3rem 0
  text-align: center

  p
    color: white
    font-size: 1rem
    margin-bottom: 0
    // padding-bottom: 3rem

    a
      color: $gold
      text-decoration: none

      &:hover
        background-color: transparent
        color: $gold
        text-decoration: underline
