footer
  background-color: $brown
  color: white
  padding: 3rem 0
  text-align: center

  p
    // font-family: $condensed
    font-size: 1rem
    margin-bottom: 0
    // padding-bottom: 3rem

    a
      color: $slime
      text-decoration: none

      &:hover
        background-color: transparent
        color: $slime
        text-decoration: underline
