.hoverboard

  &__layer
    background-color: $gold

  &__item
    background-size: cover
    height: 100vh
    width: 100vw
    transition: all .5s cubic-bezier(1,-0.99,.14,1.8)
    outline: solid 0px white

    &:hover
      // outline: solid 5rem white
      // outline-offset: -5rem

  &__headline
    color: white
    font-family: $detail
    font-size: 3rem
    font-weight: normal
    text-align: center
    padding: 0 0 3rem 0
    text-transform: uppercase

  &__heading
    //

  &__type
    //

  &__location
    //

  &__logo
    //;
