// $breakpoints: (small: 400px, medium: 500px, large: 1024px)

header
  background-color: $bgc
  display: grid
  grid-template-rows: 60px
  grid-template-columns: 1fr max-content
  align-items: center
  justify-content: space-between

  position: relative

  +media('<lg')
    grid-template-columns: 1fr
    grid-template-rows: 60px 60px

  // +media('<md')
  //   grid-template-rows: 120px 90px
  //
  +media('<sm')
    grid-template-rows: 60px 90px

  // &::after
  //   background-color: red
  //   box-shadow: 0 4px 4px #000
  //   content: ""
  //   display: block
  //   height: 10px
  //   width: 100%
  //   position: absolute
  //   bottom: 0

.identity
  display: grid
  grid-gap: 1rem
  grid-template-columns: max-content max-content
  align-items: center

  +media('<lg')
    // justify-content: space-between
    background-color: $red

  +media('<md')
    // grid-gap: 0
    // grid-template-columns: 1fr
    // grid-template-rows: 60px 60px

  p
    margin-bottom: 0

a.ml-logo
  background-color: $link
  color: white

  display: grid
  align-items: center
  justify-items: center
  grid-template-rows: 60px
  grid-template-columns: 6rem

  font-size: 3rem
  text-decoration: none
  text-shadow: 1px 1px 1px #666
  font-weight: 900
  // padding: .5rem 1rem

  &:hover
    background-color: $hover
    color: white

  +media('<md')
    width: 100%

  svg
    width: 80%
    path
      fill: $link

.tagline
  color: $text
  font-style: italic

  +media('<lg')
    color: white

.tagline-words
  +media('<sm')
    display: none

nav
  padding: 0 1rem

  +media('<lg')
    text-align: center

  a
    color: $link
    font-weight: bold
    padding: 0 .5rem
    text-decoration: none

    &:hover
      color: $blue

      svg
        fill: $blue

.ml
  font-style: normal
  font-weight: bold

.social
  display: inline-block


.social-svg svg
  fill: $link
  transform: translateY(5px)


// Page nav
.music-page,
.press-kit-page,
.videos-page,
.photos-page,
.shows-page,
.contact-page
   .active
    color: $charcoal
