.newsfeature
  &__layer
    background-color: #fff
    //background-image: url("/svg/bogolan-geo-03.svg")
    background-repeat: no-repeat
    background-position: center
    background-size: cover

    display: grid
    grid-template-columns: 1fr
    grid-template-rows: 65vh

    align-items: center
    justify-items: center
    position: relative
    overflow: hidden

    // font-family: klavika-web-disp-cond
    // padding: 6rem 3rem

    +media('<sm')
      grid-template-rows: 50vh
      padding: 3rem 1.5rem

  &__container
    max-width: 1200px
    +media('<md')
      padding: 0 3rem
    +media('<xs')
      padding: 0 2rem

  &__hgroup
    //


  &__heading
    color: $brown
    font-size: 3rem
    font-weight: normal
    line-height: 1
    text-align: center
    text-shadow: 1px 1px 1px hsla(0,0,0,0.2)
    text-transform: uppercase
    // margin-bottom: 1.5rem
    padding: 0

    +media('<lg')
      font-size: 5rem

    +media('<sm')
      font-size: 3rem
      padding-bottom: 0

    +media('<xs')
      font-size: 2rem
      margin-bottom: 0
      padding-bottom: 1.5rem

  &__subheading
    // color: $heading
    color: $brown
    // font-family: $condensed
    font-size: 2rem
    // font-style: italic
    font-weight: 100
    text-align: center
    text-shadow: 1px 1px 1px hsla(0,0,0,0.2)
    // text-shadow: 1px 1px 1px #000
    // text-shadow: 3px 3px 0 #333
    // text-transform: uppercase

    +media('<md')
      font-size: 2rem

    +media('<xs')
      font-size: 2rem

.meta
  // font-family: $condensed

.author
  // font-family: $condensed
  font-weight: bold

.date
  display: block
  // font-family: $condensed
