.photobox

  &__layer
    // background-color: white
    background-image: url('/uploads/purchase.jpg')
    background-repeat: no-repeat
    background-position: center
    background-size: cover

    padding: 3rem

    width: 100%

  &__container
    // background-image: url('/uploads/purchase.jpg')

    // display: grid
    // grid-template-columns: 1fr
    // grid-template-rows: 60vh
    //
    // align-items: center
    // justify-items: center
    //
    // height: 100%
    // width: 80vw
    //
    // margin: 0 auto

    // padding: 1.5rem
    // background-color: #e6e6e6
    // outline: 1.5rem solid #e6e6e6

  &__heading
    color: white
    font-size: 4rem
    font-weight: bold
    line-height: 1
    text-align: center
    text-shadow: 3px 3px 3px #000
    text-transform: uppercase

    padding: 10rem 0
