.quote

  &__layer
    background-color: $gray
    display: grid
    // grid-template-rows: 80vh

    align-items: center
    justify-content: center
    height: 80vh

  &__container
    background-color: $gray
    max-width: 1200px
    padding: 10rem 0
    text-align: center

  &__text
    color: $charcoal
    font-family: georgia
    font-size: 6rem
    font-style: italic
    font-weight: bold
    line-height: 1
    text-align: center
    text-shadow: 1px 1px 1px hsla(0,0,0,0.2)

    padding: 0

    //box-shadow: 50px 0 0 0 $gray, -50px 0 0 0 $gray
    display: inline
    // margin 2px 0
    // padding 5px 0
    // text-transform uppercase

    // max-width: 80vw

    +media('<1024px')
      font-size: 4rem

    +media('<750px')
      font-size: 3rem

    +media('<400px')
      font-size: 2.5rem


.bgx
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg'%3E%3Cline stroke='%23aaaaaa' stroke-width='1' x1='0' y1='100%25' x2='100%25' y2='0' /%3E%3Cline stroke='%23aaaaaa' stroke-width='1' x1='0' y1='0' x2='100%25' y2='100%25' /%3E%3C/svg%3E")

  // background-image: url("../images/alive.jpg")
  background-repeat: no-repeat
  background-position: center
  background-size: cover

  // display: grid
  // grid-template-columns: 1fr
  // grid-template-rows: 60vh

  // align-items: center
  // justify-content: center
  // position: relative
  // overflow: hidden

  padding: 0 3rem
