.crossfade
  &__layer
    background-color: $charcoal
    background-repeat: no-repeat
    background-position: center
    background-size: cover

    display: grid
    grid-template-columns: 1fr
    grid-template-rows: calc(100vh - 3rem)

    align-items: center
    justify-content: center
    position: relative
    overflow: hidden

    // padding: 0 3rem

    position: relative
    transform: translate3d(0,0,0)

    +media('<660px')
      grid-template-rows: calc(100vh - 6rem)


  &__container
    // align-items: center
    // flex-direction: column
    // height: 100vh
    max-width: 85vw
    // width: 100vw

    // max-width: 80vw
    // padding-bottom: 3rem

    // justify-content: flex-start
    // text-align: center
    // display: flex
    // align-items: center
    // background-color: transparent
    // position: absolute
    z-index: 1


    +media('<750px')
      max-width: 100vw

  &__item
    background-size: cover
    background-position: center center
    position: absolute
    top: 0
    left: 0
    height: 100%
    width: 100%
    background-repeat: no-repeat

    &:nth-of-type(3)
      animation: crossfade 12s 0s infinite

    &:nth-of-type(2)
      animation: crossfade 12s 4s infinite

    &:nth-of-type(1)
      animation: crossfade 12s 8s infinite

  &__heading
    color: white
    font-family: $detail
    font-weight: bold
    line-height: 1
    text-shadow: 3px 3px 3px hsla(0,0,0,0.2)

    +media('height<850px')
      font-size: 4rem
      // color: red

    +media('height<600px')
      font-size: 3rem
      // color: pink

    +media('height<450px')
      font-size: 2rem
      // color: pink

    +media('>2600px')
      font-size: 12rem

    +media('<2600px')
      font-size: 8rem

    +media('<1600px')
      font-size: 6rem

    +media('<1400px')
      font-size: 5rem

    +media('<1080px')
      font-size: 4rem

    +media('<750px')
      font-size: 3rem

    +media('<400px')
      font-size: 2.5rem

    // +media('aspect16/9', 'height<750px')
    //   font-size: 4rem
    //   color: blue

.svg-logo
  display: grid
  align-items: center
  justify-content: center
  // margin-top: 1.5rem
  width: 100%

  // +media('<sm')
  //   margin-top: 1.5rem

  svg
    width: 100px

    +media('height<600px')
      width: 50px

    +media('<750px')
      width: 50px
    // fill: white
    // height: 20rem
    //
    // +media('<md')
    //   height: 10rem
    //
    // +media('<sm')
    //   height: 5rem
    //   margin-top: 0

  // width: 50%
  // z-index: 1

  // +media('<md')
  //   width: 100%


// Keyframes for crossfading 3 images
@keyframes crossfade
  0%
    opacity: 0

  20%
    opacity: 1

  33%
    opacity: 1

  53%
    opacity: 0

  100%
    opacity: 0

// I'm not useing .webp because it's not supported by Safari yet
// Once the iPhone supports .webp, I will make the switch
// modernizr is already installed  

// No .webp

// .no-webp .crossfade__item:nth-of-type(1)
//   background-image: url('/uploads/ny.jpg')

// .no-webp .crossfade__item:nth-of-type(2)
//   background-image: url('/uploads/clayton.jpg')

// .no-webp .crossfade__item:nth-of-type(3)
//   background-image: url('/uploads/skyscrapers.jpg')

// Yes .webp

// .webp .crossfade__item:nth-of-type(1)
//   background-image: url('/uploads/ny.jpg.webp')

// .webp .crossfade__item:nth-of-type(2)
//   background-image: url('/uploads/clayton.jpg.webp')

// .webp .crossfade__item:nth-of-type(3)
//   background-image: url('/uploads/skyscrapers.jpg.webp')
