{{ define "main" }}
    {{/*
    <main>
      <h1 class="theme__heading">Worky work</h1>
    </main>
    *}}

    <div class="imageGallery__layer">

      {{/* <h2 class="imageGallery__headline">Like these peeps</h2> */}}

      <div class="imageGallery__container">
        {{ $pages :=  where .Site.RegularPages "Section" "work" }}

        {{ range sort $pages "Params.date" "desc" }}

          <a
            class="imageGallery__card"
            style="background-image: url('{{ .Params.client_image }}')"
            href="{{ .Permalink }}"
          >
            <div class="imageGallery__image">
              {{/* <img src="{{ .Params.client_logo }}" alt=""> */}}
              <h2 class="imageGallery__heading">{{ .Title }}</h2>
              <p class="imageGallery__meta">{{ .Params.client_type }} | {{ .Params.client_location }}</p>
            </div>
          </a>

        {{ end }}

      </div>
    </div>


  <div class="logoGallery__layer">
    <div class="logoGallery__container">

        {{ $files := readDir "/layouts/partials/logos/" }}
        {{ range $files }}

          {{ if ne .Name ".DS_Store" }}
          <figure>
            {{ partial (printf "logos/%s" .Name) }}
          </figure>
          {{ end }}

        {{ end }}

    </div>
  </div>




  {{/* partial "pagination.html" . */}}

{{ end }}
