{{ define "main" }}

  <div class="intro__layer">
    <div class="intro__container">
      <hgroup class="intro__hgroup">
        <h1 class="intro__title"><span class="intro__mask">{{ .Title }}</span></h1>
        <h2 class="intro__meta"><span class="intro__mask">{{ .Params.client_type }} {{ .Params.client_location }}</span></h2>
      </hgroup>
    </div>
  </div>

  <div class="work__layer resize">
    <div class="work__billboard" style="background-image: url({{ .Params.client_image }});">
      <div class="work__logo">
        <img src="{{ .Params.client_logo }}" alt="{{ .Title }} logo">
      </div>
    </div>
  </div>

  <div class="headline__layer">
    <div class="headline__container">
      <h2 class="headline__text">{{ .Params.client_heading }}</h2>
    </div>
  </div>

  {{ range .Params.layers }}
    {{ if eq "fm_layer_content" .template }}
      <div class="work__layer">
        <div class="work__container">

          <div class="work__content">
            <h3 class="work__sidehead">{{ .head }}</h3>
            <div class="work__text">{{ .text | markdownify }}</div>
          </div>

        </div>
      </div>
    {{ end }}

  {{ end }}

{{ end }}
