{{ define "main" }}

  <main class="singlepage__layer">
    <div class="singlepage__container">
      <div class="singlepage__feature resize">
        <img src="{{ .Params.feature_layer.image }}" alt="">
      </div>

      <div class="gallery__text">
        {{ .Content | markdownify }}

        {{ $medium := .Params.title | urlize }}
        {{ $collection := index .Site.Data.reviews $medium }}
        {{ range $collection }}
          {{ range where . "featured" true}}

            <div class="review__card">
              <div class="review__text">
                  {{ .text | markdownify }}
              </div>
              <p class="review__source">- {{ .reviewer}}<br/><span class="review__meta">{{ .source }}</span></p>
            </div>
          {{ end }}
        {{ end }}

      </div>
    </div>
  </main>

  <section class="imageGallery__layer">
    <div class="imageGallery__container photoswipe__gallery">

    {{ $medium := .Params.title | urlize }}
    {{ $collection := index .Site.Data.artwork $medium }}
    {{ range $collection }}
      {{ range . }}

        {{ $img := imageConfig ( printf "/static/%s" .image ) }}
        <figure class='imageGallery__image resize'>
          <a href="{{ .image }}" data-size="{{ $img.Width }}x{{ $img.Height }}">
            <img
              height="{{ $img.Height }}"
              width="{{ $img.Width }}"
              src="{{ .image }}"
              loading="lazy"
              style="object-position: {{ .crop | default "50% 50%" }}"
              alt="{{ .title }}, {{ .date }} {{ .medium }}. {{ .dimensions }}'' {{ .collections }}"
            />
          </a>
          {{/* <figcaption itemprop="caption description">{{ .title }} / {{ .medium }} / {{ .dimensions }} / {{ .date }} / {{ .collections }}</figcaption> */}}
        </figure>

      {{ end }}
    {{ end }}
    </div>
  </section>


  <!-- Root element of PhotoSwipe. Must have class pswp. -->
<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">

    <!-- Background of PhotoSwipe.
         It's a separate element, as animating opacity is faster than rgba(). -->
    <div class="pswp__bg"></div>

    <!-- Slides wrapper with overflow:hidden. -->
    <div class="pswp__scroll-wrap">

        <!-- Container that holds slides. PhotoSwipe keeps only 3 slides in DOM to save memory. -->
        <!-- don't modify these 3 pswp__item elements, data is added later on. -->
        <div class="pswp__container">
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
        </div>

        <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
        <div class="pswp__ui pswp__ui--hidden">

            <div class="pswp__top-bar">

                <!--  Controls are self-explanatory. Order can be changed. -->

                <div class="pswp__counter"></div>

                <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>

                <button class="pswp__button pswp__button--share" title="Share"></button>

                <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>

                <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

                <!-- Preloader demo https://codepen.io/dimsemenov/pen/yyBWoR -->
                <!-- element will get class pswp__preloader--active when preloader is running -->
                <div class="pswp__preloader">
                    <div class="pswp__preloader__icn">
                      <div class="pswp__preloader__cut">
                        <div class="pswp__preloader__donut"></div>
                      </div>
                    </div>
                </div>
            </div>

            <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                <div class="pswp__share-tooltip"></div>
            </div>

            <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
            </button>

            <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
            </button>

            <div class="pswp__caption">
                <div class="pswp__caption__center"></div>
            </div>

          </div>

        </div>

  </div>

  <main class="singlepage__container">
    {{/* <h2>Reviews</h2> */}}

    {{ $medium := .Params.title | urlize }}
    {{ $collection := index .Site.Data.reviews $medium }}
    {{ range $collection }}
      {{ range where . "featured" false}}
        <div class="review__card">
          <div class="review__text">
              {{ .text | markdownify }}
          </div>
          <p class="review__source">- {{ .reviewer | markdownify }}<br/><span class="review__meta">{{ .source }}</span></p>
        </div>
      {{ end }}
    {{ end }}

  </main>

{{ end }}

{{ define "scripts"}}

{{ end }}
