// Fonts
// $condensed: "IBM Plex Sans Condensed"

$basefont: "Trebuchet MS"
$detail: "Trebuchet MS"

// Colors
$gold: #FFDC2E
$butter: lighten($gold, 15%)
$highlighter: #1cFF00
$slime: #99FB4E
$grass: #24831B
$seagreen: lighten($grass, 5%)
$fresh: #E7FDE4
$brown: #524740
$dust: #E6D9CF
$charcoal: #333
$gray: #ccc


$safron: #FEBF2E
$gold: #FFD300
$evergreen: #284740
$tan: #B3A896
$cloud: #FBF6ED
$pink: #FFA189
$brick: #963939

$cloud: #f5f5f5

$text: $charcoal
$heading: white
$bgc: white
$link: $slime
$hover: yellow
