// Fonts
// $condensed: "IBM Plex Sans Condensed"
$condensed: "Roboto"
$basefont: "Roboto Slab"

// Colors
$gold: #FFDC2E
$highlighter: #1cFF00
$slime: #99FB4E
$grass: #24831B
$seagreen: lighten($grass, 5%)
$fresh: #E7FDE4
$brown: #524740
$dust: #E6D9CF
$charcoal: #333
$gray: #ccc

$text: $charcoal
$heading: white
$bgc: white
$link: $slime
$hover: yellow
