// Fonts
// $condensed: "IBM Plex Sans Condensed"

$basefont: "Trebuchet MS"
$detail: "Trebuchet MS"

// Colors
$charcoal: #333
$gray: #ccc

$safron: #FEBF2E
$gold: #FFD300
$butter: lighten($gold, 15%)
$evergreen: #284740
$tan: #B3A896
$cloud: #FBF6ED
$pink: #FFA189
$brick: #963939

$cloud: #f5f5f5

$text: $charcoal
$heading: white
$bgc: white
$link: $gold
$hover: $gold
