{{ define "feature" }}

  {{ partial "billboard.html" . }}

{{ end }}

{{ define "main" }}

  <main class="main-content__layer">
    <div class="main-content__container">
      {{ .Content }}
    </div>
  </main>
  

  <main class="employment__layer">
    <div class="employment__container">
  
      <h2 class="employment__heading">Jobs ({{ len $.Site.Data.employment.employment }})</h2>
      {{ range $.Site.Data.employment }}
        {{ range . }}
    
          <h2 class="employment__name">{{ .job }}</h2>
          <div class="employment__desc">{{ .description | markdownify }}</div>
          <p class="employment__link">
            <a href="{{ .contact }}">Contact</a>
          </p>

        {{ end }}
      {{ end }}

    </div>

{{ end }}
