{{ define "feature" }}

  {{ partial "billboard.html" . }}

{{ end }}

{{ define "main" }}

  <main class="main-content__layer">
    <div class="main-content__container">
      {{ .Content }}
    </div>
  </main>

  <main class="board__layer">
    <div class="board__container">
  
      <h2 class="board__heading">Board of Trustees</h2>
      {{ range $.Site.Data.leadership }}
        {{ range where . "board" "Board of Trustees"}}
      
          <h2 class="board__name">{{ .name }}</h2>
          <h3 class="board__title">{{ .title }}</h3>

          {{ with .meta }}
            <ul class="board__protitle">
              {{ range . }}
                <li>{{.}}</li>
              {{ end }}
            </ul>
          {{ end }}

          {{ with .url }}
            <p class="board__links"><a href="{{ . }}">More info</a></li>
          {{ end }}

        {{ end }}
      {{ end }}

      <h2 class="board__heading">Honarary Leadership Counsel</h2>
      {{ range $.Site.Data.leadership }}
        {{ range where . "board" "Honorary Leadership Counsel"}}
      
          <h2 class="board__name">{{ .name }}</h2>
          <h3 class="board__title">{{ .title }}</h3>

          {{ with .meta }}
            <ul class="board__protitle">
              {{ range . }}
                <li>{{.}}</li>
              {{ end }}
            </ul>
          {{ end }}

          {{ with .url }}
            <p class="board__links"><a href="{{ . }}">More info</a></li>
          {{ end }}

        {{ end }}
      {{ end }}

      <h2 class="board__heading">Special Counsel</h2>
      {{ range $.Site.Data.leadership }}
        {{ range where . "board" "Special Counsel"}}
      
          <h2 class="board__name">{{ .name }}</h2>
          <h3 class="board__title">{{ .title }}</h3>

          {{ with .meta }}
            <ul class="board__protitle">
              {{ range . }}
                <li>{{.}}</li>
              {{ end }}
            </ul>
          {{ end }}

          {{ with .url }}
            <p class="board__links"><a href="{{ . }}">More info</a></li>
          {{ end }}

        {{ end }}
      {{ end }}

    </div>

{{ end }}
