{{ define "feature" }}

    {{ partial "billboard.html" . }}

{{ end }}

{{ define "main" }}

  <main class="main-content__layer">
    <h2 class="main-content__pullquote">The Mission of The School for Ethics and Global Leadership is to provide intellectually motivated high school juniors who represent the diversity of the United States with the best possible opportunity to shape themselves into ethical leaders who create positive change in our world.</h2>
    <div class="main-content__container">
      {{ .Content }}
    </div>
  </main>

{{ end }}
