<div class="contact__layer">
  <div class="contact__container">
    <p class="contact__text"><a href="mailto:ben@solvm.com?subject=Hello">Shoot me an email</a> when you're ready to redesign</p>
  </div>
</div>

<footer class="footer__layer">

  <div class="footer__container">

    <div class="footer__logobox">
      {{partial "logosvg/solvm-logo-1.html" (dict "color" "#FFD300") }}
    </div>

    <div class="footer__heading">Stay Awesome!</div>

  </div>

  <p>{{ .Site.Params.identity }} &copy; 2009 - {{  now.Format "2006" }} | <a href="tel:314-827-4211">314-827-4211</a></p>
</footer>
