<header>
  <a class="brandmark" href="/">{{partial "logosvg/solvm-logo-1.html" }} SOLVM</a>
  <p class="tagline">Website and logo redesign</p>

  <nav class="nav__layer">
  {{ $currentPage := . }}
  {{ range .Site.Menus.main }}

    {{ $isMain := $currentPage.IsMenuCurrent "main" . }}
    {{ $hasMain := $currentPage.HasMenuCurrent "main" . }}

    {{/* Top level nav item without any children */}}
      <a
        class="{{ if or ($isMain ) ($hasMain ) }}current-page{{ end }}"
        href="{{ .URL }}"
      >{{ .Name }}</a>
  {{ end }}
  </nav>
</header>
