{{ define "feature" }}


{{ end }}


{{ define "main" }}


  <div class="crossfade__layer resize">

    <div class="crossfade__item" style="background-image: url('/uploads/ny.jpg')"></div>
    <div class="crossfade__item" style="background-image: url('/uploads/clayton.jpg')"></div>
    <div class="crossfade__item" style="background-image: url('/uploads/skyscrapers.jpg')"></div>

    <div class="crossfade__container">
      <h2 class="crossfade__heading">Websites age more like bread than wine.</h2>
      <div class="svg-logo">{{ partial "logosvg/solvm-logo-1.html" (dict "color" "#FFDC2E") }}</div>
    </div>

  </div>

  <div
    class="billboard__layer resize"
    style="background-image: url()"
  >
    <div class="billboard__container">

      <hgroup class="billboard__hgroup">
        <h2 class="billboard__heading">So throw out that stale, gross website!</h2>
      </hgroup>
      <!-- <p><a class="__button" href="/admissions/apply/">Apply Today</a></p> -->
    </div>
  </div>

  <div class="zipper__layer">
    <div class="zipper__container">
      <h2 class="zipper__headline">Here's why...</h2>

      {{ range .Params.reasons }}
      <div class="zipper__item">
        <div class="zipper__image resize">
          <img src="{{ .image }}" alt="{{ .alt }}" loading="lazy"/>
        </div>
        <div class="zipper__text">
          <h2 class="zipper__heading">{{ .title }}</h2>
          <p class="zipper__teaser">{{ .text }}</p>
          <p><a class="zipper__button" href="{{ .url }}">{{ .anchortext }}</a></p>
        </div>
      </div>
      {{ end }}

      <h2 class="zipper__headline">All of these issues must get fixed</h2>

    </div>
  </div>

  <div
    class="billboard__layer resize"
    style="background-image: url()"
  >
    <div class="billboard__container">

      <hgroup class="billboard__hgroup">
        <h2 class="billboard__heading">It's time to level up! Like these peeps have</h2>
      </hgroup>
      <!-- <p><a class="__button" href="/admissions/apply/">Apply Today</a></p> -->
    </div>
  </div>



  <div class="imageGallery__layer">

    {{/* <h2 class="imageGallery__headline">Like these peeps</h2> */}}

    <div class="imageGallery__container">

      {{ range .Params.clients }}
        {{ if .featured }}
        <a
          class="imageGallery__card"
          style="background-image: url('{{ .image }}')"
          href="{{ .url }}"
        >
          <div class="imageGallery__image">
            {{/* <img src="{{ .svg }}" alt=""> */}}
            <h2 class="imageGallery__heading">{{ .name }}</h2>
            <p class="imageGallery__meta">{{ .meta }}</p>
          </div>
        </a>
        {{ end }}
      {{ end }}

    </div>
  </div>

  <div class="logoGallery__layer">
    <div class="logoGallery__container">

      {{ $url := "/uploads/clients/logos/" }}
      {{ $files := readDir "/static/uploads/clients/logos/" }}
      {{ range $files }}
      {{ if ne (substr .Name 0 -4) ".DS_S" }}
        <figure>
          <img src="{{$url}}/{{.Name | urlize }}">
        </figure>
        {{ end }}
      {{ end }}

    </div>
  </div>

  <div class="zipper__layer">
    <div class="zipper__container">
      <h2 class="zipper__headline">I'd love to help, but...</h2>

      <div class="zipper__item">
        <div class="zipper__image resize">
          <img src="/uploads/egypt.jpg" alt="Benjamin Gandhi-Sheaprd at the Spynx in Egypt" loading="lazy" />
        </div>
        <div class="zipper__text">
          <h2 class="zipper__heading">It might be too late.</h2>
          <p class="zipper__teaser">I only take on a few clients each year. I'm a one-man-show, and I only work on one project at a time. This means you get my full attention with no middle (mis)management. But if I'm booked up, then I don't have the bandwidth to be of service. Sorry.</p>
          <!-- <p><a class="zipper__button" href="">Learn more</a></p> -->
        </div>
      </div>

      <div class="zipper__item">
        <div class="zipper__image resize">
          <img src="/uploads/obama.jpg" alt="Meeting Obama" loading="lazy" />
        </div>
        <div class="zipper__text">
          <h2 class="zipper__heading">I'm picky.</h2>
          <p class="zipper__teaser">There's also a probability that we wont be a good fit. As much as you are looking for an expert that can deliver on your project, I am also looking for a client where my expertice can create value. If I can't help you create value, then I'm not a good fit for you. If you aren't looking to create value, then you're not a good fit for me either.</p>
          <!-- <p><a class="zipper__button" href="">Learn more</a></p> -->
        </div>
      </div>

      <div class="zipper__item">
        <div class="zipper__image resize">
          <img src="/uploads/funny.jpg" alt="funny faces" loading="lazy" />
        </div>
        <div class="zipper__text">
          <h2 class="zipper__heading">I don't do deadlines. I don't bill hourly, and I require 100% down to start the project.</h2>
          <p class="zipper__teaser">That was a lot at once. As I have all day to work on your project, you and your team have a full-time job on top of this project. Thus, you will be my bottleck as this project requires our communication to complete. I can't give you a deadline because I can't control your time and responsibilities. Furthermore, deadlines mostly exist to keep hourly billing in check. I give fixed rates so you don't have to worry about projects ever going over budget. However, for the risk I take on giving you a fixed price, I require 100% upfront.</p>
          <!-- <p><a class="zipper__button" href="">Learn more</a></p> -->
        </div>
      </div>

      <div class="zipper__item">
        <div class="zipper__image resize">
          <img src="/uploads/biz.jpg" alt="Benjamin Gandhi-Shepard" loading="lazy" />
        </div>
        <div class="zipper__text">
          <h2 class="zipper__heading">I'm expensive.</h2>
          <p class="zipper__teaser">Like 10,000 to +100,000.</p>
          <!-- <p><a class="zipper__button" href="">Learn more</a></p> -->
        </div>
      </div>

    </div>
  </div>

  <div
    class="billboard__layer resize"
    style="background-image: url()"
  >
    <div class="billboard__container">

      <hgroup class="billboard__hgroup">
        <h2 class="billboard__heading">Go kick tires. Do your research. </h2>
      </hgroup>
      <!-- <p><a class="__button" href="/admissions/apply/">Apply Today</a></p> -->
    </div>
  </div>



{{ end }}
