{{ define "feature" }}

{{ end }}

{{ define "main" }}

  <div class="crossfade__layer resize">

    <div class="crossfade__item"></div>
    <div class="crossfade__item"></div>
    <div class="crossfade__item"></div>

    <div class="crossfade__container">
      <h2 class="crossfade__heading">Websites age more like bread than wine.</h2>
      <div class="svg-logo">{{ partial "logosvg/solvm-logo-1.html" (dict "color" "#FFD300") }}</div>
    </div>

  </div>

  <div
    class="billboard__layer resize"
    style="background-image: url()"
  >
    <div class="billboard__container">

      <hgroup class="billboard__hgroup">
        <h2 class="billboard__heading">So throw out that stale, gross website!</h2>
      </hgroup>
      <!-- <p><a class="__button" href="/admissions/apply/">Apply Today</a></p> -->
    </div>
  </div>

  <div class="zipper__layer">
    <div class="zipper__container">
      <h2 class="zipper__headline">Here's why...</h2>

      {{ range .Params.reasons }}
      <div class="zipper__item">
        <picture class="zipper__image resize">
          {{ $img := imageConfig ( printf "/static/%s" .image )}}
          <source
            type="image/webp"
            srcset="{{ printf "%s.webp" .image }}"
            alt="{{ .alt }}"
            height="{{ $img.Height }}"
            width="{{ $img.Width }}"
            loading="lazy">
          <source
            type="image/jpeg"
            srcset="{{ .image }}"
            alt="{{ .alt }}"
            height="{{ $img.Height }}"
            width="{{ $img.Width }}"
            loading="lazy">
          <img src="{{ .image }}" alt="{{ .alt }}" height="{{ $img.Height }}" width="{{ $img.Width }}" loading="lazy" />
        </picture>
        <div class="zipper__text">
          <h2 class="zipper__heading">{{ .title }}</h2>
          <p class="zipper__teaser">{{ .text }}</p>
          <!-- <p><a class="zipper__button" href="{{ .url }}">{{ .anchortext }}</a></p> -->
        </div>
      </div>
      {{ end }}

      <h2 class="zipper__headline">All of these issues must get fixed</h2>

    </div>
  </div>

  <div
    class="billboard__layer resize"
    style="background-image: url()"
  >
    <div class="billboard__container">

      <hgroup class="billboard__hgroup">
        <h2 class="billboard__heading">It's time to level up! Like these peeps have</h2>
      </hgroup>
      <!-- <p><a class="__button" href="/admissions/apply/">Apply Today</a></p> -->
    </div>
  </div>


  <div class="imageGallery__layer">

    {{/* <h2 class="imageGallery__headline">Like these peeps</h2> */}}

    <div class="imageGallery__container">
      {{ $pages :=  where .Site.RegularPages "Section" "work" }}

      {{ range sort $pages "Params.date" "desc" }}

        <a
          class="imageGallery__card"
          style="background-image: url('{{ .Params.client_image }}')"
          href="{{ .Permalink }}"
        >
          <div class="imageGallery__image">
            {{/* <img src="{{ .Params.client_logo }}" alt=""> */}}
            <h2 class="imageGallery__heading">{{ .Title }}</h2>
            <p class="imageGallery__meta">{{ .Params.client_type }} | {{ .Params.client_location }}</p>
          </div>
        </a>

      {{ end }}

    </div>
  </div>


  <div class="logoGallery__layer">
    <div class="logoGallery__container">

        {{ $files := readDir "/layouts/partials/logos/" }}
        {{ range $files }}

          {{ if ne .Name ".DS_Store" }}
          <figure>
            {{ partial (printf "logos/%s" .Name) }}
          </figure>
          {{ end }}

        {{ end }}

    </div>
  </div>

  <div class="zipper__layer">
    <div class="zipper__container">
      <h2 class="zipper__headline">I'd love to help, but...</h2>

      {{ range .Params.message }}
      <div class="zipper__item">
        {{ $img := imageConfig ( printf "/static/%s" .image )}}
        <picture class="zipper__image resize">
          <source
            type="image/webp"
            srcset="{{ printf "%s.webp" .image }}"
            alt="{{ .alt }}"
            height="{{ $img.Height }}"
            width="{{ $img.Width }}"
            loading="lazy">
          <source
            type="image/jpeg"
            srcset="{{ .image }}"
            alt="{{ .alt }}"
            height="{{ $img.Height }}"
            width="{{ $img.Width }}"
            loading="lazy">
          <img src="{{ .image }}" alt="{{ .alt }}" height="{{ $img.Height }}" width="{{ $img.Width }}" loading="lazy" />
        </picture>
        <div class="zipper__text">
          <h2 class="zipper__heading">{{ .title }}</h2>
          <p class="zipper__teaser">{{ .text }}</p>
        </div>
      </div>
      {{ end }}

      <h2 class="zipper__headline">But you have time on your side, so...</h2>

    </div>
  </div>

  <div
    class="billboard__layer resize"
    style="background-image: url()"
  >
    <div class="billboard__container">

      <hgroup class="billboard__hgroup">
        <h2 class="billboard__heading">Go kick tires! Do your research! </h2>
      </hgroup>
      <!-- <p><a class="__button" href="/admissions/apply/">Apply Today</a></p> -->
    </div>
  </div>



{{ end }}
