.video

  &__layer
    background-color: #e6e6e6
    // margin-bottom: 3rem
    padding: 3rem 0
    +media('<md')
      padding: 1.5rem 0

    iframe
      height: 80vh

      +media('<md')
        height: 40vh

  &__container
    margin: 0 auto
    max-width: 80vw

  &__heading
    font-size: 2rem
    font-weight: bold
    // line-height: 1

  
// Youtube layer
// This is used as a shortcode with in the News articles body
.youtube
  margin-bottom: 1.5rem

  iframe
    height: 50vh

  &__layer
    background-color: #e6e6e6
    margin-bottom: 1.5rem
    padding: 3rem 0

  &__container
    margin: 0 auto
    width: 80vw


