<div class="work__layer">
  <div class="work__container">

    <div class="work__content">
      <h3 class="work__sidehead">{{ .Get "sidehead" }}</h3>

      <div class="work__text">{{ .Inner }}</div>

    </div>

  </div>
</div>



{{/* {{< content sidehead="stale" >}}
  {{% marked text=`
    Lorem ipsum dolor sit amet, **consectetuer** adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.

    Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.

    Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu.

    ![hello](active-com.jpg)
    `%}}
{{< /content >}} */}}
